.App {
  text-align: center;
}
body {
  background-color: rgba(7, 12, 60, 0.909);
  position: relative;
}
.rez {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
}

.nr {
  font-weight: 700;
  color: #203266;
  padding-left: 5px;
  width: 70px;
  height: 35px;
  font-size: 30px;
}
.gen {
  background-color: red;
  color: white;
  border-radius: 5px;
  position: absolute;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  right: 340px;
  top: 345px;
  box-shadow: 5px 5px 10px 1px #000;
}
label {
  color: white;
  font-size: 25px;
}
.symb {
  margin-top: 0px;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
.symbol {
  color: red;
}
.red {
  color: red;
}
.blue {
  color: rgb(47, 0, 235);
}
.green {
  color: rgb(19, 206, 6);
}
.yellow {
  color: rgb(236, 217, 50);
}

.numb {
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
.control {
  box-shadow: 5px 5px 10px 1px #000;
  color: black;
  font-size: 35px;
  background-color: white;
  width: 575px;
  align-content: center;
  height: 70px;
  margin-left: 650px;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 3px;
}
h1 {
  color: white;
  padding-top: 200px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
